:root {
    /* Colors */
    --borderColor: #595959;
    background-color: #F7F7F7;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

body {
    margin: -8px;
    display: flex;
    width: 100%;
    justify-content: end;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: -8px;
    left: 3vw;
    margin: 0;

    font-weight: 100;
    font-size: 8em;
    line-height: 85%;
}

.gallery {
    display: grid;
    /* grid-template-columns: repeat(auto, minmax(200px, 1fr)); */
    grid-template-rows: repeat(4, calc((100vh - 3.6vw + 16px)/4));
    overflow: hidden;
    height: calc(100vh + 16px);
    max-height: calc(100vh + 16px);
    min-width: 80%;
    max-width: 80%;
    margin-left: 10%;
    gap: 1.2vw;

    .gallery-row {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        height: 100%;
        gap: 1.2vw;

        &:nth-child(1) {
            justify-content: center;
        }

        &:nth-child(3) {
            justify-content: end;
        }

        &:nth-child(4) {
            justify-content: center;
        }

        .gallery-item-wrapper {
            .gallery-item {
                height: 100%;
                object-fit: scale-down;
                aspect-ratio: 1/1;
                img {
                    max-height: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
        }

        .gallery-item-multi-wrapper {
            display: inline-flex;
            flex-direction: column;
            max-height: 100%;
            gap: 1.2vw;

            .gallery-item {
                height: calc((100% - 1.2vw)/2);
                object-fit: cover;
                aspect-ratio: 1/1;

                img {
                    width: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
        }
    }
}

.details-view {
    padding: 5em 4em;
    border-top: 2px solid var(--borderColor);
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    overflow: hidden;
    cursor: text;

    p {
        margin-block-start: 0;
    }

    .details-text {
        margin-block-start: 0;
        font-family: 'Hedvig Letters Serif', 'Times New Roman', Times, serif;
        line-height: 160%;
        font-size: 1.25em;
        color: #171717;

        .dropcap {
            margin: 0 .8em 0 0;
            float: left;
            width: 9em;
            box-shadow: 4px 4px 8px rgba(154, 160, 185, 0.15);

            &:after {
                margin-bottom: -0.15em;
            }
        }
    }

    hr {
        width: 100%;
    }

    .examples {
        display: flex;
        width: 100%;
        gap: 0.5em;

        img {
            max-width: 100%;
        }
    }
}